$color-primary: #2196f3;
$color-secondary: #757575;
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;
$font-color-primary: #ffffff;
$font-color-secondary: #212121;
$radius-border: 4px;
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
