.main-title {
  background-color: getColor("dark");
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;

  @media screen and (max-width: 767px) {
    height: 400px;
    padding-top: 120px;
    background-image: linear-gradient(
        to right,
        getColor("hero-bg"),
        getColor("hero-bg")
      ),
      url(../images/studio/hero-mobile.jpg);
    max-width: 560px;
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          getColor("hero-bg"),
          getColor("hero-bg")
        ),
        url(../images/studio/hero-mobile@2x.jpg);
    }
  }

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    height: 400px;
    padding-top: 120px;

    background-image: linear-gradient(
        to right,
        getColor("hero-bg"),
        getColor("hero-bg")
      ),
      url(../images/studio/hero-tablet.jpg);
    max-width: 960px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          getColor("hero-bg"),
          getColor("hero-bg")
        ),
        url(../images/studio/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(
        to right,
        getColor("hero-bg"),
        getColor("hero-bg")
      ),
      url(../images/studio/hero.jpg);
    max-width: 1600px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          getColor("hero-bg"),
          getColor("hero-bg")
        ),
        url(../images/studio/hero@2x.jpg);
    }
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__hero {
    display: block;
    margin-bottom: 30px;

    font-family: Roboto;
    font-weight: 900;

    @media screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 1.16;
    }

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 1.62;
    }

    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor("white");
  }
  &__button {
    display: inline-block;
    border-radius: 4px;
    border: 1px getColor("blue");
    padding: 10px 32px;
    min-width: 200px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: getColor("white");
    background: getColor("blue");
    outline: none;
    cursor: pointer;
  }
}
