.menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    z-index: 5;
    background-color: getColor("white");
    border-top: 1px solid getColor("line");

    flex-direction: column;
    padding: 60px;
    box-shadow: 1px 6px 8px -4px rgba(34, 60, 80, 0.2);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 100%;
  }

  @media screen and (min-width: 768px) and(max-width: 1199px) {
    display: flex;
  }
  &__close {
    display: none;
  }
  &__button {
    display: inline-flex;
    border: none;
    border-color: transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;

    &--is-open {
      display: flex;
    }

    &--is-open .menu__close {
      display: block;
    }
    &--is-open .menu__icon {
      display: none;
    }

    &:hover,
    &:focus {
      fill: getColor("blue");
    }
  }
  @media screen and (min-width: 768px) {
    &__button {
      display: none;
    }
  }
}
