.img-work-set {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.section-profession {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: centerolumn;

  height: 386px;
  margin-bottom: 94px;
  margin-top: 94px;
}
.code {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: '';
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color-primary;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  top: 76%;
  bottom: 0;

  transform: translate(0, -50);
}
.work {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 50px;

  display: flex;
  justify-content: center;

  align-items: center;

  color: $font-color-secondary;
}

.img-work {
  width: 370px;
  height: 294px;
  display: flex;
  align-items: center;
}

.img-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-work {
  display: flex;
  align-items: center;
  justify-content: center;
}
