.clients {
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}
.over-clients {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: $font-color-secondary;
}
.clients-logos {
  display: flex;
  margin-top: 50px;
}
.clients-logos-area {
  width: 170px;
  height: 90px;
  display: flex;
}
.clients-logos-area:not(:last-child) {
  margin-right: 30px;
}

.clients-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 49px;
  fill: #afb1b8;
  transition-property: fill, transform;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
.clients-logos-area-label:hover,
.clients-logos-area-label:focus {
  fill: $color-primary;
}
.clients-logos-area-label:hover .clients-svg,
.clients-logos-area-label:focus .clients-svg {
  fill: $color-primary;
}
.clients-logos-area-label {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: $radius-border;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill, transform;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}
.clients-logos-area-label:hover,
.clients-logos-area-label:focus {
  border: 1px solid $color-primary;
}
