.portfolio .header {
  border: 1px solid rgba(236, 236, 236, 1);
}
.main-portfolio {
  padding-bottom: 64px;
  padding-top: 94px;
}
.main-portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-portfolio-item {
  display: flex;
  justify-content: center;
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: $font-color-secondary;
}
.main-portfolio .container {
  display: flex;
}
.nav-portfolio-item {
  margin-right: 8px;
  transition-property: background, color, transform;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  border-radius: $radius-border;
  padding: 6px 22px;
}
.nav-portfolio-item:last-of-type {
  margin-right: none;
}
.buttons {
  display: flex;
  padding-bottom: 50px;
}
.nav-portfolio-item {
  border: none;
}
.nav-portfolio-item:hover,
.nav-portfolio-item:focus {
  color: $font-color-primary;
  background: $color-primary;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.projects-item-text {
  padding: 20px 24px;
}
.projects-item-div {
  width: 370px;
  height: 404px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.area-img {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.projects-item-link {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
}
.projects-item {
  display: block;
}
.projects-item-link:hover .overlay {
  transform: translatey(0);
}
.projects-item-link:focus .overlay {
  transform: translatey(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(+100%);
  transition: transform 250ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  /* or 156% */

  letter-spacing: 0.03em;

  color: $font-color-primary;
}
.projects-item-div:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}
.example-item {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: $font-color-secondary;
}
.coment-item {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: $color-secondary;
  padding-top: $radius-border;
}
